<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 2px;
            position: relative;
        }

        th:first-child,
        td:first-child {
            width: 55%;
        }

        th {
            border: 1.3px solid black;
            text-align: left;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }

        td {
            border: 1.3px solid black;
            text-align: center;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;

        }

        p,
        h5 {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .title {
        }

        p {
            text-align: justify;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .content {
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 15px;
            margin-top: 10px;
        }

        .titleCert {
            font-weight: bold;
            text-align: center;
        }

        .encabezado {
            font-size: 9px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            font-weight: bold;
            margin-top: 5px;
            margin-left: 30px;
            color: darkblue;
        }

        .footer p {
            text-align: center;
            font-size: 10px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .img-1 {
            position: absolute;
            top: 150px;
            left: 10px;
            width: 100%;
            height: 50%;
            object-fit: cover; /* Ajusta la imagen al tamaño de la celda */
            opacity: 0.1; /* Ajusta la opacidad según tus necesidades (0 completamente transparente, 1 completamente opaco) */
            z-index: -1;
            background-color: rgba(0, 0, 0, 0.5); /* Color semitransparente (negro con 50% de opacidad) */

        }
        .img-2 {
            position: absolute;
            top: 900px;
            left: 10px;
            width: 100%;
            height: 50%;
            object-fit: cover; /* Ajusta la imagen al tamaño de la celda */
            opacity: 0.1; /* Ajusta la opacidad según tus necesidades (0 completamente transparente, 1 completamente opaco) */
            z-index: -1;
            background-color: rgba(0, 0, 0, 0.5); /* Color semitransparente (negro con 50% de opacidad) */

        }

    </style>
</head>
<body>
<div>
    <p class="encabezado" style="float:left;"> <span th:text="${generator.data_manager.name}"></span> <br></br>
        <span th:text="${generator.data_manager.type_document.name}"></span> <span th:text="${generator.data_manager.number_id}"></span><br></br>
    </p>

    <img th:src="'data:image/jpeg;base64,' + ${qrcode}" alt="" style="float:right; z-index: -1; margin-top: 0px;margin-right: -20px;"/>

</div>
<div>
    <br></br><br></br>
</div>

<div class="content">
    <p style="text-align: center; ">
        <span class="titleCert" style="text-align: center; white-space: pre;">              CERTIFICACIÓN N° <span  style="text-align: center; white-space: pre;" th:text="${certification.final_number_certification}"></span> </span><br></br>

        <span style="text-align: center; white-space: pre;">            Disposición Final de Tierra y Material sobrante</span><br></br>
        <span style="text-align: center; white-space: pre;">          Realizada por el gestor <span th:text="${generator.data_manager.name}"></span></span><br></br>
        <span th:text="${generator.data_manager.legal_representative}"></span> <br></br>
        <span th:text="${generator.data_manager.type_document.name}"></span> <span th:text="${generator.data_manager.number_id}"></span>
    </p>

    <table >
        <tr>
            <th class="title" colspan="3" style="text-align: center;">DATOS BÁSICOS DEL GESTOR</th>
        </tr>
        <tr>
            <th>Número único asignado para el gestor por parte de la autoridad ambiental por proyecto</th>
            <td colspan="2" th:text="${generator.data_manager.unic_number}"></td>
        </tr>
        <tr>
            <th >Nombre o razón social</th>
            <td style="font-size:12px;" colspan="2" th:text="${generator.data_manager.name}"></td>
        </tr>
        <tr>
            <th>Documento de identificación o NIT</th>
            <td colspan="2" th:text="${generator.data_manager.number_id}"></td>
        </tr>
        <tr>
            <th >Representante legal</th>
            <td style="font-size:12px;" colspan="2" th:text="${generator.data_manager.legal_representative}"></td>
        </tr>
        <!-- imagen -->

        <img th:src="'data:image/jpeg;base64,' + ${image}" class="img-1" style="opacity: 0.1;"/>

        <tr>
            <th>Dirección</th>
            <td style="font-size:12px;" colspan="2" th:text="${generator.data_manager.address}"></td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td colspan="2" th:text="${generator.data_manager.phone_number}"></td>
        </tr>
        <tr>
            <th>Correo electrónico</th>
            <td colspan="2" th:text="${generator.data_manager.email}"></td>
        </tr>
        <tr>
            <th>Municipio o Distrito del predio</th>
            <td colspan="2" th:text="${generator.botadero.city}"></td>
        </tr>
        <tr>
            <th>Nombre del predio</th>
            <td colspan="2" th:text="${generator.botadero.property_name}"></td>
        </tr>
        <tr>
            <th rowspan="3">Gestor</th>
            <td colspan="1">Punto limpio</td>
            <td colspan="1">
                    <span th:each="item : ${generator.manager}">
                        <span th:if="${item.id_manager == 1}">
                            <span>x</span>
                        </span>
                    </span>
            </td>

        </tr>

        <tr>
            <td>Planta de aprovechamiento</td>

            <td colspan="1">
                    <span th:each="item : ${generator.manager}">
                        <span th:if="${item.id_manager == 2}">
                            <span>x</span>
                        </span>
                    </span>
            </td>

        </tr>
        <tr>
            <td>Disposición final</td>
            <td colspan="1">
                    <span th:each="item : ${generator.manager}">
                        <span th:if="${item.id_manager == 3}">
                            <span> x</span>
                        </span>
                    </span>
            </td>

        </tr>
        <tr>
            <th class="title" colspan="3" style="text-align: center;">DATOS BÁSICOS DEL GENERADOR</th>
        </tr>
        <tr>
            <th style="font-size:12px;">Número único asignado para el gestor por parte de la autoridad ambiental competente por proyecto
            </th>
            <td colspan="2" th:text="${generator.unic_number}"></td>
        </tr>
        <tr>
            <th>Nombre o razón social</th>
            <td colspan="2" th:text="${generator.name}"></td>
        </tr>
        <tr>
            <th>Documento de identificación o NIT</th>
            <td colspan="2" th:text="${generator.number_id}"></td>
        </tr>
        <tr>
            <th>Representante legal</th>
            <td colspan="2" th:text="${generator.legal_representative}"></td>
        </tr>
        <tr>
            <th>Dirección domicilio</th>
            <td colspan="2" th:text="${generator.address}"></td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td colspan="2" th:text="${generator.phone_number}"></td>
        </tr>
        <tr>
            <th>Correo electrónico</th>
            <td colspan="2" th:text="${generator.email}"></td>
        </tr>
        <tr>
            <th>Dirección generación de RCD</th>
            <td colspan="2" th:text="${generator.address_rcd}"></td>
        </tr>

        <tr>
            <th class="title" colspan="3" style="text-align: center;">CANTIDADES DE RCD RECIBIDOS DEL GENERADOR POR
                TIPO
            </th>
        </tr>
        <tr>
            <th colspan="1" style="text-align: center;">Tipo de residuo</th>
            <th colspan="2" style="text-align: center;">Cantidad de RCD recibidos del <br></br> generador (t)</th>
        </tr>

        <tr>
            <th colspan="1" style="text-align: left;">1. Residuos de construcción y demolición - RCD susceptibles de
                aprovechamiento:</th>
            <td colspan="2">

                <span th:each="item : ${generator.quantitiesRcd}">
                        <span th:if="${item.type_rcd.id_type_rcd == 1}">
                            <span th:text="${item.quantity_rcd + ' TONELADAS'  }"> </span>
                        </span>
                </span>


            </td>
        </tr>

        <tr>
            <td colspan="1" style="text-align: left;">1.1 Productos de excavación y sobrantes de la adecuación del
                terreno: coberturas vegetales, tierras, limos y materiales pétreos productos de la excavación, entre
                otros.</td>
            <td colspan="2">
                    <span th:each="item : ${generator.quantitiesRcd}">
                        <span th:if="${item.type_rcd.id_type_rcd == 2}">
                            <span th:text="${item.quantity_rcd + ' TONELADAS'  }"></span>
                        </span>
                    </span>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="text-align: left;">1.2 Productos de cimentaciones y pilotajes: arcillas,
                bentonitas y
                demás.</td>
            <td colspan="2">
                    <span th:each="item : ${generator.quantitiesRcd}">
                        <span th:if="${item.type_rcd.id_type_rcd == 3}">
                            <span th:text="${item.quantity_rcd + ' TONELADAS'  }"> </span>
                        </span>
                    </span>
            </td>
        </tr>
        <img th:src="'data:image/jpeg;base64,' + ${image}" class="img-2"/>

    </table>
    <div class="footer" style="margin-top: 0px;">
        <p><br></br><br></br><br></br><br></br>
            <span th:text="${generator.data_manager.name}"></span> <br></br>
            <span th:text="${generator.data_manager.address}"></span>  <br></br>
            Tel <span th:text="${generator.data_manager.phone_number}"></span> <br></br>
            E. mail <span style="color:darkblue;" th:text="${generator.data_manager.email}"></span>
        </p>
    </div>
    <p class="encabezado" style="margin-left: 7px;"><span th:text="${generator.data_manager.name}"></span> <br></br>
        <span th:text="${generator.data_manager.type_document.name}"></span> <span th:text="${generator.data_manager.number_id}"></span><br></br>
    </p>
    <table >
        <tr>
            <td colspan="1" style="text-align: left;">1.3 Pétreos: hormigón, arenas, gravas, gravillas, cantos,
                pétreos
                asfalticos, trozos de ladrillos y bloques, cerámicas,sobrantes de mezcla de cementos y concretos
                hidráulicos, entre otros.</td>
            <td colspan="2">
                    <span th:each="item : ${generator.quantitiesRcd}">
                        <span th:if="${item.type_rcd.id_type_rcd == 4}">
                            <span th:text="${item.quantity_rcd + ' TONELADAS'  }"> </span>
                        </span>
                    </span>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="text-align: left;">1.4 No pétreos: vidrio, metales como acero, hierro, cobre,
                aluminio, con o sin recubrimiento de zinc o estaño, plásticos tales como: PVC, polietileno,
                policarbonato, acrílico, espumas de poliestireno y de poliuretano, gomas y cauchos,
                madera y compuestos de madera, cartón-yeso (drywall), entre otros.</td>
            <td colspan="2">

                <span th:each="item : ${generator.quantitiesRcd}">
                        <span th:if="${item.type_rcd.id_type_rcd == 5}">
                            <span th:text="${item.quantity_rcd + ' TONELADAS'  }"> </span>
                        </span>
                </span>

            </td>
        </tr>
        <tr>
            <th colspan="1" style="text-align: left;">2. Residuos de construcción y demolición - RCD no susceptibles
                de
                aprovechamiento:</th>
            <td colspan="2">
                    <span th:each="item : ${generator.quantitiesRcd}">
                        <span th:if="${item.type_rcd.id_type_rcd == 6}">
                            <span th:text="${item.quantity_rcd  + ' TONELADAS'  }"> </span>
                        </span>
                    </span>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="text-align: left;">2.1 Los contaminados con residuos peligrosos.</td>
            <td colspan="2">
                    <span th:each="item : ${generator.quantitiesRcd}">
                        <span th:if="${item.type_rcd.id_type_rcd == 7}">
                            <span th:text="${item.quantity_rcd + ' TONELADAS'  }"> </span>
                        </span>
                    </span>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="text-align: left;">2.2. Los que por su estado no pueden ser aprovechados.</td>
            <td colspan="2">
                    <span th:each="item : ${generator.quantitiesRcd}">
                        <span th:if="${item.type_rcd.id_type_rcd == 8}">
                            <span th:text="${item.quantity_rcd + ' TONELADAS'  }"></span>
                        </span>
                    </span>
            </td>
        </tr>

        <tr>
            <td colspan="1" style="text-align: left;">2.3 Los que tengan características de peligrosidad, estos se
                regirán por la normatividad ambiental especial establecida para su gestión.</td>
            <td colspan="2">
                    <span th:each="item : ${generator.quantitiesRcd}">
                        <span th:if="${item.type_rcd.id_type_rcd == 9}">
                            <span th:text="${item.quantity_rcd + ' TONELADAS'  }"></span>
                        </span>
                    </span>
            </td>
        </tr>


        <tr>
            <th colspan="1" style="text-align: left;">Total, RCD recibidos (t)</th>
            <td colspan="2" th:text="${generator.total_rcd + ' TONELADAS'  }"></td>
        </tr>
        <tr>
            <th colspan="1" style="text-align: left;">Fecha recepción de los RCD</th>
            <td colspan="2" th:text="${generator.reception_date_rcd}"></td>
        </tr>
        <tr>
            <th colspan="3" style="text-align: center;">DATOS BÁSICOS DEL GESTOR DE TRANSPORTE</th>
        </tr>
        <tr>
            <th colspan="1" style="text-align: left;">Nombre o razón social / Identificación</th>
            <td colspan="2"
                th:text="${generator.data_driver.name + ' ' + generator.data_driver.type_document.name + ' ' + generator.data_driver.number_id}">
            </td>
        </tr>
        <tr>
            <th colspan="1" style="text-align: left;">Placa de vehículo</th>
            <td colspan="2" th:text="${generator.data_driver.vehicle_plate}"></td>
        </tr>
    </table>
    <p>

        La presente certificación se basa en el anexo II de la resolución 1257 del 2021 “Por la cual se modifica la
        Resolución 0472 de 2017 sobre la gestión integral de Residuos de Construcción y Demolición – RCD y
        se adoptan otras disposiciones” y se expide a solicitud del interesado, a los <span th:text="${certification_date}"></span>.
        Para ser presentada ante la
        autoridad Ambiental competente <strong>IMPORTANTE
        PARA CONFIRMAR LA VERACIDAD DE ESTE CERTIFICADO COMUNÍQUESE CON NUESTRA OFICINA O ESCANEE EL CÓDIGO QR QUE APARECE AL INICIO DE ESTE DOCUMENTO.</strong>
        <br></br><br></br>
        Se anexa certificado de calibración de la báscula utilizada para realizar el proceso de pesaje de los RCD
        recibidos, como lo establece el marco normativo en su artículo 3 de la Resolución 1257 del 2021.
        <br></br><br></br>
        Quien certifica;
    </p>
    <br></br><br></br><br></br>
    <br></br><br></br><br></br>
    <br></br>
    <p>
        <strong>
            <span th:text="${generator.data_manager.legal_representative}"></span>
            <br></br>
            <span th:text="${generator.data_manager.type_document.name + ' '}"></span><span th:text="${generator.data_manager.number_id}"></span>
            <br></br>
        </strong>
        <br></br>
        <br></br>
    </p>
</div>

<div class="footer" style="margin-top: 0px;">
    <p><span th:text="${generator.data_manager.name}"></span> <br></br>
        <span th:text="${generator.data_manager.address}"></span>  <br></br>
        Tel <span th:text="${generator.data_manager.phone_number}"></span> <br></br>
        E. mail <span style="color:darkblue;" th:text="${generator.data_manager.email}"></span>
    </p>
</div>


</body>

</html>